.card-container {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, 380px);
}
.card {
  background-color: #120d1b;
  padding-bottom: 10px;
  margin: 40px;
  text-align: center;
  border-radius: 1rem;
  color: #fed34d;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s cubic-bezier(1, 1.57, 0.5, 0.78);
  .card-title {
    margin: 10px 5px 5px 5px;
  }
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }
  .card-image {
    position: relative;
    img {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      width: 100%;
      height: 100%;
    }

    &:hover {
      .card-star {
        display: flex;
        flex-direction: column;
      }
      .delete-icon {
        display: inline;
      }
    }
  }
}
button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.edit {
  position: absolute;
  top: 10px;
  right: 40px;
  float: right;
}
.delete {
  position: absolute;
  top: 10px;
  right: 0px;
  float: right;
  .delete-icon {
    fill: rgba(59, 59, 59, 0.85);
    display: none;
    &:hover {
      fill: red;
    }
  }
}
.card-star {
  position: absolute;
  top: 10px;
  display: none;
}
